@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    font-family: 'Lobster', cursive;
    font-weight: 900;
    line-height: 2cm;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200701/pngtree-abstract-polygonal-geometric-background-image_340628.jpg);
    background-size: cover;
}    
.navright {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  overflow: hidden;
  background-color:#070b3b;
  
}
.rit{
  float:right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
  }
  li {
    float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to GREEN on hover */
  li a:hover {
    background-color: green;
  }
  /* Active/Current Navigation Link*/
  .active{
      background-color: coral;
  }

  .out-content{
    font-family: 'Lobster', cursive;
    max-width: 600px;
    padding-top: 50px;
    margin: auto;
}
.para{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
    font-weight: bold;
    line-height: 1cm;
    padding-bottom: 50px;
    
}
.form-group{
  padding: 0px 100px 0px;
  text-align: center;
}
.head{
  text-align: center;
}